@import "../../../assets/styles/designVariables";

.b-calendar-dark,
.b-calendar-light {
  display: flex;
  gap: $ref-sizing-8;
  height: calc(100vh - 110px);
  width: 100%;
  backdrop-filter: blur(5px);
  overflow: hidden;

  &_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: $border-radius-2;
  }

  &_timeline {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  &_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $ref-sizing-48;

    &_title {
      font-family: $typography-label-xxl-font-family;
      line-height: $typography-label-xxl-line-height;
      font-size: $typography-label-xxl-font-size;
      font-weight: $typography-label-xxl-font-weight;
      letter-spacing: $typography-label-xxl-letter-spacing;
    }
  }

  &_day {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &_header {
      width: 100%;
      height: max-content;
      display: flex;
      justify-content: center;
      padding: $ref-spacing-12;
    }

    &_content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: $ref-spacing-8;
      padding: $ref-spacing-24 $ref-spacing-0;
    }

    &_title {
      font-family: $typography-label-xl-font-family;
      line-height: $typography-label-xl-line-height;
      font-size: $typography-label-xl-font-size;
      font-weight: $typography-label-xl-font-weight;
      letter-spacing: $typography-label-xl-letter-spacing;
    }
  }

  &_event {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $ref-spacing-8;
    box-sizing: border-box;
    cursor: grab;

    &_drag {
      height: $ref-sizing-24;
    }
  }
}

.b-calendar-dark {
  &_container {
    background: $dark-srf-default;
    border: 1px solid $dark-on-bgd-srf-5;
  }

  &_header {
    background: $dark-additional;
    &_title {
      color: $dark-on-bgd-srf-1;
    }
  }

  &_day {
    &:first-child {
      .b-calendar-dark_day_content,
      .b-calendar-dark_day_header {
        border-left: none;
      }
    }

    &_header {
      background: $dark-srf-variant;
      border-left: 1px solid $dark-on-bgd-srf-4;
    }

    &_content {
      border-left: 1px solid $dark-on-bgd-srf-5;

      &.-active {
        background: $dark-on-bgd-srf-3;
      }
    }

    &_title {
      color: $dark-on-bgd-srf-3;

      &.-today {
        color: $dark-primary;
      }
    }
  }

  &_event {
    background: $dark-tertiary-container-sand;
  }
}
