@import "../../../assets/styles/designVariables";

.b-container-dark .b-input {

  .MuiFormLabel-root {
    color: $dark-on-bgd-srf-3;
  }

  .MuiInputBase-root {
    color: $dark-on-bgd-srf-3;

    &:hover .MuiOutlinedInput-notchedOutline {
      border-color: $dark-on-bgd-srf-3;
    }
  }

  .MuiFormHelperText-root {
    color: $dark-on-bgd-srf-3;
  }

  .Mui-focused {
    &.MuiFormLabel-root {
      color: $dark-primary;
    }

    .MuiOutlinedInput-notchedOutline {
      border-color: $dark-primary !important;
    }
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: $dark-on-bgd-srf-4;
  }

  .MuiInputBase-input:-webkit-autofill,
  .MuiInputBase-input:-webkit-autofill:hover,
  .MuiInputBase-input:-webkit-autofill:focus,
  .MuiInputBase-input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $dark-on-bgd-srf-3;
  }

  .MuiInputBase-inputSizeSmall {
    padding: $ref-spacing-6 $ref-spacing-12 !important;
    font-size: $typography-body-md-font-size !important;
  }

  .MuiInputBase-input {
    padding: $ref-spacing-8 $ref-spacing-14;
    font-size: $typography-body-lg-font-size;
  }
}

.b-container-light .b-input {

  .MuiFormLabel-root {
    color: $light-on-bgd-srf-3;
  }

  .MuiInputBase-root {
    color: $light-on-bgd-srf-3;

    &:hover .MuiOutlinedInput-notchedOutline {
      border-color: $light-on-bgd-srf-3;
    }
  }

  .MuiFormHelperText-root {
    color: $light-on-bgd-srf-3;
  }

  .Mui-focused {
    &.MuiFormLabel-root {
      color: $light-primary;
    }

    .MuiOutlinedInput-notchedOutline {
      border-color: $light-primary !important;
    }
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: $light-on-bgd-srf-4;
  }

  .MuiInputBase-input:-webkit-autofill,
  .MuiInputBase-input:-webkit-autofill:hover,
  .MuiInputBase-input:-webkit-autofill:focus,
  .MuiInputBase-input:-webkit-autofill:active{
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: $light-on-bgd-srf-3;
  }

  .MuiInputBase-inputSizeSmall {
    padding: $ref-spacing-6 $ref-spacing-12 !important;
    font-size: $typography-body-md-font-size !important;
  }

  .MuiInputBase-input {
    padding: $ref-spacing-8 $ref-spacing-14;
    font-size: $typography-body-lg-font-size;
  }
}