@import "../../../assets/styles/designVariables";

.b-projectsTable-dark,
.b-projectsTable-light {
  height: calc(100% - 12px);
  overflow-y: auto;

  &__table {
    height: max-content !important;
    backdrop-filter: blur(5px);
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }

  &__headerTitle {
    padding: 0 $ref-spacing-24 !important;
    font-size: $typography-body-md-font-size;
    font-weight: $typography-body-md-font-weight;
    letter-spacing: $typography-body-md-letter-spacing;
    line-height: $typography-body-md-line-height;
  }

  &__cell {
    padding: 0 $ref-spacing-24 !important;
    font-size: $typography-label-md-font-size;
    font-weight: $typography-body-md-font-weight;
    letter-spacing: $typography-body-md-letter-spacing;
    line-height: $typography-body-md-line-height;
  }

  &__options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $ref-spacing-4;
  }

  .MuiDataGrid-root {
    .MuiDataGrid-cell:focus,
    .MuiDataGrid-cell:focus-within,
    .MuiDataGrid-columnHeader:focus,
    .MuiDataGrid-columnHeader:focus-within {
      outline: none;
    }
  }
}

.b-projectsTable-dark {
  &__table {
    background-color: $dark-datagrid-header-bg;
    border-color: $dark-on-bgd-srf-5 !important;
  }

  &__headerTitle {
    color: $dark-on-bgd-srf-2;
  }

  &__cell {
    color: $dark-on-bgd-srf-3;
    border-color: $dark-on-bgd-srf-5 !important;
  }

  &__header {
    border-color: $dark-on-bgd-srf-5 !important;
  }
}

.b-projectsTable-light {
  &__table {
    background-color: $light-datagrid-header-bg;
    border-color: $light-on-bgd-srf-5 !important;
  }

  &__headerTitle {
    color: $light-on-bgd-srf-2;
  }

  &__cell {
    color: $light-on-bgd-srf-3;
    border-color: $light-on-bgd-srf-5 !important;
  }

  &__header {
    border-color: $light-on-bgd-srf-5 !important;
  }
}
