@import "../../../assets/styles/designVariables";

.b-iconButton-dark,
.b-iconButton-light {
  border-radius: $border-radius-4;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.b-iconButton-dark {
  &:hover {
    background-color: $dark-state-srf-default-hover !important;
  }
}

.b-iconButton-light {
  &:hover {
    background-color: $light-state-srf-default-hover !important;
  }
}
