@import "../../../assets/styles/designVariables";

.b-iconButton-dark, .b-iconButton-light {
  border-radius: 10px !important;
}

.b-iconButton-dark {
  &:hover {
    background-color: $dark-state-bgd-variant-hover !important;
  }

  .MuiTouchRipple-ripple {
    background: $dark-state-bgd-variant-hover;
  }
}

.b-iconButton-light {
  &:hover {
    background-color: $light-state-bgd-variant-hover !important;
  }

  .MuiTouchRipple-ripple {
    background: $light-state-bgd-variant-hover;
  }
}