@import "../../../../assets/styles/designVariables";

.b-issueAssignee-dark,
.b-issueAssignee-light {
  display: block;
  padding-left: $ref-sizing-6;

  &__skeleton {
    display: flex;
    align-items: center;
    gap: $ref-spacing-2;
    width: 100%;
    padding: $ref-spacing-0 $ref-spacing-24;
  }
}
