@import "../../../assets/styles/designVariables";

.b-themeSwitcher-dark, .b-themeSwitcher-light {
  &__text {
    font-size: $typography-label-md-font-size;
    font-weight: $typography-label-md-font-weight;
    letter-spacing: $typography-label-md-letter-spacing;
    line-height: $typography-label-md-line-height;
  }
}

.b-themeSwitcher-dark {
  &__text {
    color: $dark-on-bgd-srf-3;
  }
}

.b-themeSwitcher-light {
  &__text {
    color: $light-on-bgd-srf-3;
  }
}