@import "../../../assets/styles/designVariables";

.b-list-dark,
.b-list-light {
  display: flex;
  flex-direction: column;
  gap: $ref-spacing-0;
  margin: $ref-spacing-0;
  padding: $ref-spacing-0;
}

.b-list-dark {
  background: $dark-srf-default !important;
}

.b-list-light {
  background: $light-srf-default !important;
}
