@import "../../../assets/styles/designVariables";

.b-signIn-dark,
.b-signIn-light {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: $ref-spacing-24;
    box-sizing: border-box;
    border-radius: $border-radius-12;
    gap: $ref-spacing-12;
    box-shadow: $shadow-1;
  }

  &__title {
    font-size: $typography-headline-md-font-size;
    font-weight: $typography-headline-md-font-weight;
    letter-spacing: $typography-headline-md-letter-spacing;
    line-height: $typography-headline-md-line-height;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $ref-spacing-6;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $ref-spacing-6;
  }

  &__input,
  &__button {
    width: 100% !important;
  }

  &__errorLabel {
    font-size: $typography-body-md-font-size;
    font-weight: $typography-body-md-font-weight;
    letter-spacing: $typography-body-md-letter-spacing;
    line-height: $typography-body-md-line-height;
    color: $error !important;
  }
}

.b-signIn-light {
  &__card {
    background-color: $light-srf-variant;
  }

  &__title {
    color: $light-on-bgd-srf-3;
  }

  &__controlLabel {
    .MuiCheckbox-root svg path {
      fill: $light-on-bgd-srf-3;
    }

    .Mui-checked svg path {
      fill: $light-primary;
    }

    .MuiTypography-root {
      color: $light-on-bgd-srf-3;
    }
  }
}

.b-signIn-dark {
  &__card {
    background-color: $dark-srf-variant;
  }

  &__title {
    color: $dark-on-bgd-srf-3;
  }

  &__controlLabel {
    .MuiCheckbox-root svg path {
      fill: $dark-on-bgd-srf-3;
    }

    .Mui-checked svg path {
      fill: $dark-primary;
    }

    .MuiTypography-root {
      color: $dark-on-bgd-srf-3;
    }
  }
}
