@import "../../../../assets/styles/designVariables";

.b-projectIssuesHeader-dark,
.b-projectIssuesHeader-light {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $ref-spacing-8;
  padding: $ref-spacing-12 $ref-spacing-20;

  &__controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: $ref-spacing-8;
  }
}

.b-projectIssuesHeader-dark {
  background: $dark-srf-variant;
}

.b-projectIssuesHeader-light {
  background: $light-srf-variant;
}
