@import "../../../../assets/styles/designVariables";

.b-issueView-dark,
.b-issueView-light {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: $ref-spacing-20;
  box-sizing: border-box;
  overflow: auto;

  &__row {
    width: 100%;
    display: flex;
    gap: $ref-spacing-32;
    margin: 0;
  }

  &__column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $ref-spacing-32;
    padding: $ref-spacing-24;
    margin: 0;

    &.-fixed {
      position: fixed;
      width: 314px;
    }
  }

  &__left {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: $ref-spacing-16;
  }

  &__right {
    position: relative;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: $ref-spacing-32;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: $ref-spacing-8;
    font-size: $typography-title-md-font-size;
    font-weight: $typography-title-md-font-weight;
    letter-spacing: $typography-title-md-letter-spacing;
    line-height: $typography-title-md-line-height;

    &:not(:hover) {
      .b-textInput-dark_field_on-bgd,
      .b-textInput-light_field_on-bgd {
        background: none;
      }
    }
  }

  &__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $ref-spacing-16;
  }

  &__groupTitle {
    display: flex;
    align-items: center;
    gap: $ref-spacing-4;
    font-size: $typography-label-lg-font-size;
    font-weight: $typography-label-lg-font-weight;
    letter-spacing: $typography-label-lg-letter-spacing;
    line-height: $typography-label-lg-line-height;

    &.-time {
      justify-content: space-between;
    }
  }

  &__selectRow {
    display: flex;
    align-items: center;
    gap: $ref-spacing-4;
  }

  &__groupContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $ref-spacing-12;
    margin: 0;
    overflow: hidden;
    max-height: 100%;
    transition: 0.3s ease-in-out;

    &.-time {
      overflow: visible;
    }

    &.-attachment {
      height: 200px;
      max-height: 200px;
    }

    .b-select-dark,
    .b-select-light {
      background: none;
    }

    &.-hidden {
      transition: 0.3s ease-in-out;
      max-height: 0;
    }
  }

  &__attachments {
    width: 100%;
    height: 100%;
    border-radius: $border-radius-4;
  }
}

.b-issueView-dark {
  &__title {
    color: $dark-on-bgd-srf-3;
  }

  &__groupTitle {
    color: $dark-on-bgd-srf-2;
  }

  &__attachments {
    background: $dark-bgd-variant;
    border: 1px solid $dark-on-bgd-srf-5;
  }
}

.b-issueView-light {
  &__title {
    color: $light-on-bgd-srf-3;
  }

  &__groupTitle {
    color: $light-on-bgd-srf-2;
  }

  &__attachments {
    background: $light-bgd-variant;
    border: 1px solid $light-on-bgd-srf-5;
  }
}
