@import "../../../assets/styles/designVariables";

.b-colorPicker-dark,
.b-colorPicker-light {
  width: 100%;
  display: flex;

  &__wrapper {
    border-radius: $border-radius-2;
    cursor: pointer;
    flex: 1;
    opacity: 0.5;
    transition: 0.3s all;

    &:hover {
      flex: 2;
      opacity: 1;
    }

    &.-checked {
      flex: 2;
      opacity: 1;
    }
  }

  .b-chipsDiscipline-dark,
  .b-chipsDiscipline-light {
    width: 100%;
    height: 32px;
    border-radius: 0;
  }
}

.b-colorPicker-dark {
}

.b-colorPicker-light {
}
