@import "./designVariables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  transition:
    0.3s background-color,
    color;

  &:has(.b-container-dark) {
    *::-webkit-scrollbar {
      background: $dark-bgd-default;
      width: 8px;
    }

    *::-webkit-scrollbar-thumb {
      background: $dark-on-bgd-srf-5;
      border-radius: 5px;
    }
  }

  &:has(.b-container-light) {
    *::-webkit-scrollbar {
      background: $light-bgd-default;
      width: 8px;
    }

    *::-webkit-scrollbar-thumb {
      background: $light-on-bgd-srf-5;
      border-radius: 5px;
    }
  }
}

.b-container-light,
.b-container-dark {
  overflow-y: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: red;
}

.outlet {
  display: flex;
  height: 100vh;
  padding-top: 60px;
  overflow-y: auto;
}

.b-loader {
  position: absolute;
  z-index: 2;
  top: 60px;
  width: 100%;

  &.-hidden {
    display: none;
  }
}

.MuiSkeleton-root {
  transform: none !important;
}

.MuiPaper-root {
  border-radius: 0 !important;
  background: none !important;
  box-shadow: none !important;
}

.b-container-dark .MuiSkeleton-root {
  background: $dark-gradient-skeleton;
}

.b-container-light .MuiSkeleton-root {
  background: $light-gradient-skeleton;
}
