@import "../../../assets/styles/designVariables";

.b-tooltip-dark,
.b-tooltip-light {
  font-size: $typography-body-sm-font-size !important;
  font-weight: $typography-body-sm-font-weight !important;
  letter-spacing: $typography-body-sm-letter-spacing !important;
  line-height: $typography-body-sm-line-height !important;
}

.b-tooltip-dark {
  background: $dark-tooltip !important;
  color: $dark-on-tooltip-default !important;
}

.b-tooltip-light {
  background: $light-tooltip !important;
  color: $light-on-tooltip-default !important;
}
